.cropperNavbar {
  float: right;
}

.cropperNav__button {
  background-color: transparent;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
}

.cropperNav__button:focus {
  outline: none;
}

.cropperNav__button:hover {
  background-color: #0074d9;
  color: #fff;
}

.cropperNav--success:hover {
  background-color: #2ecc40;
}

.cropperNav--danger:hover {
  background-color: #ff4136;
}
